@import "./../variables";
@import "./../mixins/respond-to";
@import "./../links";

.property-card {
  color: map-get($greys, "darkest");
  font-family: map-get($fonts, "bodyFont");

  border: 1px solid map-get($greys, "line");
  margin-bottom: 30px;
  max-width: 360px;
  transition: all 0.5s ease;

  @include respond-to('tablet_landscape') {
    &:hover {
      box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.15);
    }
  }

  &__figure {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 255px;
    margin: 0;
    margin-bottom: 25px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      transition: 0.3s transform ease;
      background-color: rgba(white, 0.15);
      pointer-events: none;
      will-change: transform;
    }

    &:hover::after {
      transform: none;
    }
  }

  &__image {
    display: block;
  }

  &__label {
    background-color: map-get($greys, "lightest");
    border: solid 1px map-get($greys, "line");
    border-radius: 2px;
    color: map-get($greys, "darkest");
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    position: absolute;
    top: 2em;
    left: 1em;
  }

  &__content {
    padding: 0 ($grid-spacing * 2);

    .title {
      padding: 5px 0;
      display: -webkit-box;
      height: 46px;
      margin: 0 auto;
      line-height: 20px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .address {
      padding: 5px 0;
      font-size: 12px;
      font-weight: 500;
    }

    .bottom-content {
      display: flex;
      width: 100%;
      margin: 30px 0;
      line-height: 2em;
      font-size: 14px;

      .price {
        display: flex;
        flex: 1;
        font-weight: 500;
      }

      .size-info {
        line-height: 2em;
        display: flex;
        flex: 1;
        text-align: right;
        font-weight: 300;

        .room {
          padding-right: 10px;
          display: inline-block;
        }

        .space {
          display: inline-block;
          border-left: 1px solid map-get($greys, "secondaryAlt");
          padding-left: 9px;
          text-align: right;
        }
      }
    }
  }
}
