@import "./../variables";
@import "./../mixins/respond-to";
@import "./../links";

$container-margin: 20px;
$grid-gutter: 40px;

.property-card {
  color: map-get($greys, "darkest");
  font-family: map-get($fonts, "bodyFont");
  transition: all 0.5s ease;
  max-width: none;
  display: block;
  position: relative;
  margin: 0 0 $grid-gutter 0;

  &:after {
    position: absolute;
    height: 1px;
    width: 100vw;
    margin: 0 -$container-margin;
    background: map-get($greys, 'line');
    content: "";
  }

  @include respond-to("tablet") {
    border: 1px solid map-get($greys, "line");
    flex: 0 0 calc(50% - #{$grid-gutter}/2);

    &:after {
      content: none;
    }

    .property-card__image {
      height: 240px;
    }    
  }

  @include respond-to("desktop") {
    flex: 0 0 calc(100%/3 - #{$grid-gutter}/2);
    max-width: 360px;

    &:hover {
      box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.15);
      .property-card__label,
      .property-card__tour-link {
        display: none;
      }
      .property-card__hover-text {
        display: block;
      }
      .property-card__figure figcaption {
        align-items: center;
        justify-content: center;
      }
    }
  }

  a {
    text-decoration: none;
  }

  &__figure {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: 0 0 25px 0;
    height: inherit;

    figcaption {
      display: flex;
      transition: all 0.5s ease;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }

  &__image {
    display: block;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 210px;
  }

  &__label,
  &__tour-link {
    align-self: flex-start;
  }

  &__label {
    display: flex;
    align-items: center;
    background-color: map-get($greys, "lightest");
    border: solid 1px map-get($greys, "line");
    border-radius: 2px;
    font-size: 14px;
    margin: $container-margin;
    align-self: flex-start;
    padding: 3px 8px;
    font-weight: 500;
    color: map-get($greys, "secondary");
  }

  &__tour-link {
    align-self: flex-start;
    margin: 20px 20px 20px auto;
  }

  &__tour-link-icon {
    width: 26px;
    margin-right: 16px;
    color: map-get($colors, "primary");
  }

  &__hover-text {
    display: none;
    color: map-get($greys, "lightest");
    font-size: 15px;
    font-weight: 500;
    margin: 2em 1em;
  }

  &__content {
    @include respond-to("tablet") {
      padding: 0 ($grid-spacing * 2);
    }

    .title {
      display: -webkit-box;
      height: 42px;
      margin: 0 auto;
      line-height: 22px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      color: map-get($greys, "darkest");
      font-family: Roboto, sans-serif;
      font-size: 16px;
    }

    .address {
      margin-top: 15px;
      font-size: 13px;
      font-weight: 500;
      color: map-get($greys, "secondary");
      font-family: Roboto, sans-serif;
    }

    .bottom-content {
      display: flex;
      align-items: center;
      margin: 30px 0;
      line-height: 2em;
      font-size: 14px;
      @include respond-to("tablet") {
        margin: 40px 0;
      }
      .price {
        display: flex;
        font-size: 16px;
        font-weight: 500;
        color: map-get($greys, "darkest");
      }

      .size-info {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        font-weight: 300;
        color: map-get($greys, "body");
        font-size: 15px;
        font-family: Roboto, sans-serif;

        .room {
          padding-right: 18px;
        }

        .space {
          border-left: 1px solid map-get($greys, "line");
          padding-left: 11px;
          text-align: right;

          sup {
            vertical-align: baseline;
            position: relative;
            top: -0.4em;
          }
        }
      }
    }
  }
}
