@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto');

.storycontainer {
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: solid 1px #999;
  padding: 20px;
}
