@import "../variables";
@import "../mixins/grey-backgrounds";

.quote {
  position: relative;
  padding: 0 ($grid-spacing * 2) 0 54px; //54px is 20px from the ::before quote.
  margin: ($grid-spacing * 2) auto;
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  color: map-get($greys, "secondary");

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    display: block;
    width: 36px;
    height: 36px;
    background-image: url("https://s3.eu-central-1.amazonaws.com/mcmakler-production-public/marketing/web/elements/quote.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__citation,
  footer {
    display: block;
    margin-top: $grid-spacing;
    line-height: 1;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
  }

  &__content,
  p {
    margin: 0;
    font-family: map-get($fonts, "headingFont");
    font-style: italic;
    font-size: 17px;
    line-height: 1.647;
  }

  footer {
    color: transparent;
  }

  footer > a {
    display: none;
  }

  footer > span {
    margin-left: $grid-spacing * -0.5;
    color: map-get($greys, "secondary");
  }

  @include grey-backgrounds(true);

  &_boxed {
    padding: 24px $grid-spacing $grid-spacing 73px; //73px is 20px from the ::before quote.
  }

  &_boxed::before {
    top: $grid-spacing;
    left: $grid-spacing;
  }
}

