@import "../variables";
@import "../typography";

.bubble {
  background: transparent;
  &-text {
    position: relative;
    &::after {
      content: "";
      height: 30px;
      width: 30px;
      position: absolute;
      bottom: -13px;
      left: 20px;
      background: map-get($greys, "lightest");
      transform: rotate(45deg);
    }
    background: map-get($greys, "lightest");
    padding: 40px;

    &__heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-title {
        font-weight: 500;
        font-size: 18px;
      }
      &-date {
        font-weight: 700;
        font-size: 14px;
        color: map-get($greys, "secondary");
      }
    }

    &__content {
      margin-top: 20px;
    }
  }

  &-person {
    display: flex;
    align-items: center;
    margin-top: 30px;
    &__image {
      width: 80px;
      height: 80px;
      margin-right: 15px;
    }
    &__info {
      &-name {
        font-size: 18px;
        font-weight: 500;
      }
      &-title {
        color: map-get($greys, "secondary");
        font-weight: 500;
        font-size: 14px;
      }
    }
  }

  .stars-rating {
    display: flex;
    align-items: center;
    .stars {
      position: relative;
      color: map-get($greys, "secondary");
      display: inline;
      overflow: hidden;
      margin-right: 10px;    
      font-size: 18px;
      &__filled {
        position: absolute;
        overflow: hidden;
        color: map-get($colors, "primary");
        z-index: 2;
      }
      &__empty {
        position: relative;
        z-index: 1;
        display: inline;
      }
    }

    .rating {
      font-size: 16px;
    }
  }
}