@import "../variables";

.usp-card {
  padding: $grid-spacing * 2;
  border: 1px solid map-get($greys, "line");
  box-sizing: border-box;

  &__separator {
    margin: $grid-spacing 0;
    width: 30px;
    height: 2px;
    border: 0;
    background-color: map-get($colors, "primary");
  }
}
