@import "../../../scss/sections";

.heading_secondary + .preview-box {
  margin-top: $grid-spacing * 2;
}

.page-section__preview-box {
  padding: 0 ($grid-spacing * 2);
}

.page-section_background {
  background-image: url("https://www.native-instruments.com/typo3temp/pics/img-ce-background-careers_overview_01_welcometonative_2x_02-6a90c891dfefa6c4be84be27725a26b3-d@2x.jpg");
}
