.color-snippet {
  box-sizing: border-box;
  min-height: 100px;
  background-color: map-get($greys, "bg");

  .color-snippet__color-panel,
  .color-snippet__content {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: $grid-spacing;
  }

  .color-snippet__color-panel {
    align-items: center;
    max-width: 100px;
    margin: 0;
  }

  .color-snippet__color-panel_border {
    border: 1px solid map-get($greys, "line");
  }

  .color-snippet__content {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

}