
@import "./../../scss/respond-to";
@import "./../../scss/colors";

.styledSelect {
  height: 40px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  border: solid 1px map-get($colors, "line");
  background-color: map-get($colors, "bg");

  .styledSelect__icon {
    color: map-get($colors, "secondary");
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0px;
    right: 3px;
    z-index: 1;
    border-left: solid 1px map-get($colors, "line");
  }

  .styledSelect__select {
     background: transparent;
     border: 0;
     box-sizing: border-box;
     font-size: 15px;
     height: 40px;
     padding: 5px;
     padding-left: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    z-index: 10;
    padding-right: 50px;
    &::-ms-expand {
      display: none;
    }
  }

  &--secondary {
    @include respond-to("tablet") {
      background-color: white;
      border: 0;
      border-bottom: solid 1px map-get($colors, "line");
      font-size: 12px;
      height: 30px;
      .styledSelect__select {
        padding-left: 5px;
        height: 30px;
      }
      .styledSelect__icon {
        border-left: 0;
        height: 30px;
        width: 30px;
      }
    }
  }
}
