@import "variables";
@import "mixins/is-ie";

.figure {
  display: flex;
  flex-direction: column;
  margin: 0;

  &__caption {
    padding: ($grid-spacing * 1.5) $grid-spacing * 2;
    background-color: map-get($greys, "bg");
    text-align: left;
  }

  &__description {
    margin: 0;
  }

  &__header-container {
    text-decoration: none;
  }

  &__header {
    margin: 0;
    min-height: ($grid-spacing * 3); // accommodate two lines by default.
    font-family: map-get($fonts, "bodyFont") map-get($fonts, "bodyFontFallback");
    font-weight: 400;
    font-size: 17px;
    line-height: 1.471;
  }

  &__image {
    width: 100%;
  }

  &__caption_card {
    background-color: white;
  }

  &__description {
    margin-bottom: 0;
  }

  &__link {
    margin-left: auto;
    float: right;
    font-weight: 400;
    color: map-get($greys, "secondary");
  }

  &_card {
    border: 1px solid map-get($greys, "line");
  }

  & + .figure {
    margin-left: $grid-spacing;
  }

  //TODO: Fix IE bugs.
  @include is-ie {
    a {
      max-height: 250px;
      display: block;
    }
  }
}

.inverted .figure,
.background_bg .figure {
  &__caption {
    background-color: map-get($greys, "lightest");
  }
}
