@import "../../../scss/mixins/grey-backgrounds";
@import "../../../scss/mixins/respond-to";

.preview-box {
  padding: $grid-spacing * 2;
  border: 1px solid map-get($greys, "line");
  text-align: left;

  & + .preview-box {
    border-top: 0;
  }

  &.inverted {
    background-color: map-get($greys, "darkest");
  }

  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_stripped {
    padding: 0;
  }

  @include grey-backgrounds;
}