$sidenav-width: 320px;

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidenav-width;
  height: 100vh;
  z-index: 100;
  transition: .3s transform ease, .3s box-shadow ease;
  will-change: transform;
  transform: translateX($sidenav-width * -1);
  backdrop-filter: blur(10px);
  background-color: rgba(map-get($greys, "bg"), .9);

  &.active {
    box-shadow: ($grid-spacing / 2) 0 ($grid-spacing * 2) rgba(0, 0, 0, 0.2);
    transform: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    cursor: pointer;
    padding: ($grid-spacing / 2) $grid-spacing;
    transition: .3s background-color ease;
  }

  .link_active {
    font-weight: 600;
  }

  a {
    display: block;
    width: 100%;
  }

  a::after {
    display: none;
  }

  li:hover {
    background-color: rgba(black, .07);
  }
}

.sidenav__header {
  display: flex;
  align-items: center;
  padding: $grid-spacing;
  border-bottom: 1px solid map-get($greys, "line");

  img {
    max-width: 160px;
  }
}