$colors: (
  primary: #feb901,
  positive: #74af53,
  warn: #e04f28,
  darkest: #222,
  body: #333,
  secondaryAlt: #999,
  secondary: #aaa,
  line: #dadada,
  table: #e8e8e8,
  bg: #f6f6f6,
  lightest: #fff,
);
