@import "./../../includes/greys";

%form-component {
  background-color: map-get($greys, "bg");
  border: 1px solid map-get($greys, "line");
  box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
  color: map-get($greys, "secondaryAlt");
  font-size: 15px;
  line-height: 1em;
  padding: 10px;
}
