@import "./../../includes/greys";
@import "./../../includes/fonts";

%form-component {
  box-sizing: border-box;
  background-color: map-get($greys, "bg");
  border: 1px solid map-get($greys, "line");
  color: map-get($greys, "body");
  font-size: 15px;
  font-family: map-get($fonts, "bodyFont");
  line-height: 1em;
  padding: 10px;
  width: 100%;

  &::focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,.05);
    outline: none;
  }

  &::placeholder {
    color: map-get($greys, "secondaryAlt");
  }
}
