@import "./../../includes/greys";
@import "./../../includes/colors";

.radio {
  display: flex;
  .radio__label {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    line-height: 30px;
    padding-left: 15px;
    position: relative;

    .radio__button {
      height: 30px;
      margin-right: 10px;
      position: relative;
      width: 30px;
      appearance: none;
      outline: none;

      & + span {
        display: inline-flex;
        align-items: center;
        &:before {
          content: '';
          display: inline-block;
          width: 28px;
          height: 28px;
          border: 1px solid map-get($greys, "line");
          position: absolute;
          left: 18px;
          border-radius: 50%;
        }
      }
      &:checked + span:after {
        background-color: map-get($colors, "primary");
        display: inline-block;
        content: "";
        height: 14px;
        width: 14px;
        border-radius: 50%;
        position: absolute;
        left: 26px;
      }
    }
  }
}
