@import "./../../includes/greys";
@import "./../../includes/colors";

.radio {
  display: flex;

  .radio__label {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    line-height: 30px;
    padding-left: 15px;
    position: relative;

    .radio__button {
      height: 30px;
      margin-right: 10px;
      position: relative;
      width: 30px;

      &:before {
        border: 1px solid map-get($greys, "line");
        height: 30px;
        right: 0;
        top: 0;
        width: 30px;
      }

      &:before,
      &:after {
        background-color: #fff;
        border-radius: 50%;
        box-sizing: border-box;
        content: "";
        display: inline-block;
        margin-left: -20px;
        position: absolute;
      }

      &:after {
        content: "";
        height: 14px;
        right: 8px;
        top: 8px;
        width: 14px;
      }

      &:checked:after {
        background-color: map-get($colors, "primary");
      }
    }
  }
}
