@import "./breakpoints";

@mixin respond-to($breakpoint, $condition: min-width) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media ($condition: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
